.m-single-image-block {}

.m-single-image-block__img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 748px;
  &:after {
    content: '';
    display: block;
    padding-bottom: 60.16%;
  }
}

.m-single-image-block__date {
  border-bottom: solid 1px #CDCDCD;
  padding: 0 0 1em 0;
  margin-bottom: 2em;

  span {
    text-transform: uppercase;
  }
}
